// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$sean-blue: #07385A;
$sean-light-blue:#1f98ee;
$sean-black: #1A1C20;
$sean-light-grey: #4E535F;
$sean-dark-grey: #2C2E34;
$whitish: #FBFAF8;
