.about {
  min-height: 680px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: justify;
  flex-direction: column;
  p {
    font-family: 'Montserrat', sans-serif;
    color: $whitish;
    font-size: 20px;
    font-weight: 100;
    text-shadow: 4px 4px 20px black;
    line-height: 35px;
    @media screen and (max-width: $phone) {
      font-size: 15px;
      line-height: 20px;
    }
  }
  .highlight {
    color: $sean-new-blue;
    font-weight: 300;
  }


}


.title-separator {
  display: flex;
  justify-content: space-around;
  align-items: center;
  h3 {
    margin: 0 16px;
    text-shadow: 12px 12px 12px black;

  }
}

.blue-line {
  height: 1px;
  width: 100%;
  border: 1px solid $sean-new-blue;
  box-shadow: 12px 12px 12px black;
}

.about-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  padding: 16px;
  @media screen and (max-width: $phone) {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}

.about-image {
  height: 400px;
  margin-right: 32px;
  border: 3px solid $sean-dark-grey;
  border-radius: 8px;
  box-shadow: 4px 4px 12px black;
  @media screen and (max-width: $phone) {
    margin: 10px 0;
    max-height: 300px;
  }
}
