.about {
  min-height: 680px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: justify;
  flex-direction: column;
  align-items: center;
  p {
    font-family: 'Montserrat', sans-serif;
    color: $whitish;
    font-size: 20px;
    font-weight: 100;
    text-shadow: 4px 4px 20px black;
    line-height: 35px;
    @media screen and (max-width: $phone) {
      font-size: 15px;
      line-height: 20px;
    }
  }
  .highlight {
    color: $sean-new-blue;
    font-weight: 300;
  }


}


.title-separator {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  h3 {
    margin: 0 16px;
    text-shadow: 12px 12px 12px black;

  }
  @media screen and (max-width: $tablet) {
    margin: 16px 0;
  }
}

.blue-line {
  height: 1px;
  width: 100%;
  border: 1px solid $sean-new-blue;
  box-shadow: 12px 12px 12px black;
}


.about-inner {
  display: flex;
  align-items: center;
}

.about-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
  padding: 16px;
  @media screen and (max-width: $tablet) {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}

.top-zero {
  padding-top: 0px;
  margin-top: 0px;
}

.about-image {
  height: 400px;
  margin-left: 24px;
  // margin-top: 31px;
  border: 3px solid $sean-dark-grey;
  border-radius: 8px;
  box-shadow: 4px 4px 12px black;
  @media screen and (max-width: $tablet) {
    margin: 10px 0;
    max-height: 300px;
  }
}

.about-btn {
  color: $sean-new-blue;
  text-decoration: none;
  transition: .3s;
  font-weight: bold;
}

.about-btn:hover {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 20px $sean-light-blue;
}


.about-stamps {
  display: flex;
  margin-bottom: 64px;
  width: 100%;
  justify-content: space-around;
  img {
    height: 80px;
    margin: 16px;
  }
  .square {
    width: auto;
  }
}


@media screen and (max-width: $tablet) {
.about-stamps {
  flex-direction: column;
  align-items: center;
  .square {
    width: 80px;
  }
  .squareish {
    width: 120px;
  }
  .large-stamp {
    height: 50px;
  }
}
.about-inner {
  flex-direction: column;
}

}
