html {
  scroll-behavior: smooth;
 }

.background{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background: linear-gradient(60deg, $gradient1, $gradient2);
}

.home-banner {
  height: 500px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  h5 {
    padding-top: 52px;
    letter-spacing: 2px;
  }
}

.logo-image {
  height: 260px;
  width: 461.5px;
  transform: scale(1.3);
  margin-top: 40px;
}

h1 {
  font-family: 'air americana';
  font-size: 140px;
  letter-spacing: 8px;
}

h3 {
  font-family: 'air americana';
  font-size: 50px;
  letter-spacing: 16px;
}

h5 {
  font-family: 'Montserrat', sans-serif;
  color: $whitish;
}

.body {
  width: 75%;
  justify-content: center;
}
