html {
  scroll-behavior: smooth;
 }

.background{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  background-color: $sean-dark-grey;
}

.home-banner {
  background-image:
   linear-gradient(to bottom, rgba(0, 0, 0, 0.1),rgba(7,56,90,1)),
    url("homebgsean.jpg");
  background-size: cover;
  background-position: center;
  height: 680px;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

h1 {
  font-family: 'air americana';
  font-size: 140px;
  letter-spacing: 8px;
}

h3 {
  font-family: 'air americana';
  font-size: 50px;
  letter-spacing: 16px;
}

.body {
  width: 75%;
  justify-content: center;
}
