<div class="background">
  <div class="navbar">
    <ul class="tabs">
      <li>Home</li>
      <li>About</li>
      <li>Gallery</li>
      <li>References</li>
      <li>Rates</li>
      <li>Contact</li>
    </ul>
  </div>
  <div class="home-banner">
    <%= image_tag "Logo-CSW.png", class: "logo-image" %>
    <h5>CSW offers music production studio wiring services to professional and private clients.</h5>
  </div>


  <div class="body">



    <div class="about">
      <div class="title-separator">
        <div class="blue-line"></div>
        <h3>About</h3>
        <div class="blue-line"></div>
      </div>
      <div class="about-text">
        <%= image_tag "sean-about.png", class: "about-image" %>
        <p>London-based live sound and recording studio specialist with
          over five years professional experience in an educational
          facility working as a technician, audio engineer and IT deputy.
          I started <span class="highlight"> Copson Studio Wiring </span> (CSW) in 2020 as a side job
          when I saw an opportunity during the pandemic where many
          people wanted to continue producing music but they had to
          do so from home. They had the musical knowledge to
          produce but some were struggling with setting up a studio to
          work in.
        </p>
      </div>
      <div class="about-text">
        <p>I've been involved in the construction of close to forty studios since 2017. Everything from
          small home studios to full-size large format console rooms, home cinemas, and even Dolby
          Atmos, suites, I look forward to bringing whatever your dream studio vision is to life. I've
          teamed up with SXPro and Flavio Acoustics to bring you the best setup to suit your workflow.
        </p>
      </div>
    </div>

    <div class="gallery">
      <div class="title-separator">
        <div class="blue-line"></div>
        <h3>Gallery</h3>
        <div class="blue-line"></div>
      </div>
      <div>
      </div>
    </div>
  </div>

    <div class="separator-mid">
      <div class="beam">
      </div>
    </div>

  <div class="body">
    <div class="references">
      <div class="title-separator">
        <div class="blue-line"></div>
        <h3>References</h3>
        <div class="blue-line"></div>
      </div>
      <div class="ref-carousel">

        <div class="ref-card">
          <div class="ref-text">
            <p>Sean came to patch in the tie lines
            for our new studio. He was very
            quick and efficient, and did a
            clean job fitting them in. Sean is
            personable and professional, and
            we'd be happy to recommend
            him!</p>
          </div>
          <h4>_____</h4>
          <div class="ref-name">
            <h4> H. Warwick - GM, Parallels</h4>
          </div>
        </div>

        <div class="ref-card">
          <div class="ref-text">
            <p>Sean came to patch in the tie lines
            for our new studio. He was very
            quick and efficient, and did a
            clean job fitting them in. Sean is
            personable and professional, and
            we'd be happy to recommend
            him!</p>
          </div>
          <h4>_____</h4>
          <div class="ref-name">
            <h4> H. Warwick - GM, Parallels</h4>
          </div>
        </div>

        <div class="ref-card">
          <div class="ref-text">
            <p>Sean came to patch in the tie lines
            for our new studio. He was very
            quick and efficient, and did a
            clean job fitting them in. Sean is
            personable and professional, and
            we'd be happy to recommend
            him!</p>
          </div>
          <h4>_____</h4>
          <div class="ref-name">
            <h4> H. Warwick - GM, Parallels</h4>
          </div>
        </div>

      </div>
    </div>

    <div class="rates">
      <div class="title-separator">
        <div class="blue-line"></div>
        <h3>Rates</h3>
        <div class="blue-line"></div>
      </div>
      <div class="rates-body">
        <div class="rates-text">
          <div class="rates-text-inner">
            <div class="rates-text-columns">
              <p>Hourly rate</p>
              <p>Day rate (over 8hrs, max 10hrs)</p>
              <p>Travel (by car outside M25 zone)</p>
            </div>
            <div class="rates-text-columns">
              <p>£45/hr</p>
              <p>£400</p>
              <p>£0.45/mile</p>
            </div>
          </div>
          <h5>T&C's</h5>
        </div>
        <%= image_tag "rates-img.png", class: "rates-image" %>
      </div>
    </div>




    <div class="contact">
      <div class="title-separator">
        <div class="blue-line"></div>
        <h3>Contact</h3>
        <div class="blue-line"></div>
      </div>
      <div class="contact-content">
      </div>
    </div>





  </div>


</div>
