<div class="background">
  <div class="navbar">
    <ul class="tabs">
      <li>Home</li>
      <li>About</li>
      <li>Portfolio</li>
      <li>Contact</li>
      <li>References</li>
    </ul>
  </div>
  <div class="home-banner">
    <H1>Sean Copson</H1>
    <h3>Studio builder</h3>
  </div>

  <div class="separator">
    <div class="beam">
    </div>
  </div>

  <div class="body">

    <div class="about">
      <div>
        <%= image_tag "sean.jpeg", class: "about-image" %>
      </div>

      <div class="about-text">
        <p>Recording studio specialist with 5+ years experience in an educational facility working as a technician, audio engineer and IT deputy. Consultation and construction of recording studios for education facilities and private clients, as well as in-house sound engineer for multiple venues. DIY aficionado, musician, classic car fan and engineer at heart. Previous experience in live sound for festivals and studio work. Aspirations to teach music software and audio engineering.</p>
      </div>
    </div>

  </div>
</div>
