.contact {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  height: 600px;
}


.contact-content {
  width: 100%;
  margin-top: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.contact-info {
  margin-top: 24px;
  color: white;
  font-family: 'Roboto', sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  p {
    font-family: 'Roboto', sans-serif;
    color: $whitish;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
  }
}
