.rates {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 32px;
}

.rates-body {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: $phone) {
    flex-direction: column;
  }
}


.rates-text {
  display: flex;
  flex-direction: column;
  line-height: 50px;
  p {
    font-family: 'Montserrat', sans-serif;
    color: $whitish;
    font-size: 24px;
    font-weight: 300;
    @media screen and (max-width: $phone) {
      font-size: 15px;
      line-height: 20px;

    }
  }

}

.rates-text-inner {
  display: flex;
  .rates-text-columns {
    padding-right: 16px;
  }
}

.rates-image {
  width: 50%;
  @media screen and (max-width: $phone) {
    width: 90%;
  }
}
