
.references {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 32px;
}

.ref-carousel {
  height: auto;
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  @media screen and (max-width: $phone) {
    flex-direction: column;
    align-items: center;
  }
}

.ref-card {
  width: 300px;
  border: 1px solid $sean-light-grey;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  box-shadow: 12px 12px 12px black;
  p {
    text-align: justify;
    font-family: 'Montserrat', sans-serif;
    color: $whitish;
    font-size: 18px;
    font-weight: 100;
    font-style: italic;
    margin: 8px;
  }
  h4 {
    font-family: 'Montserrat', sans-serif;
    color: $whitish;
    font-size: 24px;
    font-weight: 300;
    text-align: center;

  }
  @media screen and (max-width: $phone) {
    margin: 10px 0;
  }
}
