.separator {
  background-color: $sean-blue;
  height: 32px;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.beam {
  width: 100%;
  height: 10px;
  background-color: #999999;
  box-shadow: inset 0 4px 5px rgb(233, 233, 233), inset 0 -3px 5px rgb(73, 73, 73);
}
